body {
	font: 16px/20px Arial;
	margin: -2% -2% 0 0;
	background: #333;
	position: relative;
}

nav {
	background: steelblue;
	height: 10%;
	position: fixed;
	width: 100%;
	z-index: 1;
	background: linear-gradient(steelblue, gray);
}

.home {
	font-size: 20px;
	color: white;
	padding: 1.5% 3.5%;
}

ul {
	list-style-type: none;
	color: black;
	position: fixed;
	top: 30%;
	left: 7%;
	background: white;
	padding: 0;
	border-radius: 5px;
	width: 30%;
}

li {
	box-sizing: border-box;
	border: 1px solid black;
	width: 100%;
	font-weight: bold;
	padding: 5%;
}

button {
	float: left;
	width: 30%;
	position: fixed;
	top: 14.5%;
	left: 100px;
	height: 4em;
	border-radius: 5px;
	font-size: 16px;
	color: #f0f0f0;
	margin: 20px auto;
	display: block;
	font-style: bold;
	background: radial-gradient(teal, lightblue);
}

.tweets {
	float: right;
	width: 50%;
	margin: 10% 5%;
}
.tweet {
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	position: relative;
	background: #fff;
}

.tweet img {
	height: 50%;
	max-width: 100%;
	position: absolute;
	left: 10%;
	top: 25%;
}

.tweet:first-of-type, li:first-of-type {
	border-radius: 5px 5px 0 0;
}

.tweet:last-of-type, li:last-of-type {
	border-radius: 0 0 5px 5px;
}

footer {
	background: #fff;
	color: white;
	height: 40px;
	width: 100%;
	z-index: 2;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */